body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    padding: 0;
    margin: 0;
}

html {
    background-color: $backgroundColor;
}

h1 {
    font-size: $fontSizeTitle;
    font-weight: $fontWeightTitle;
    color: $colDarkGrey;
}

h3 {
    font-size: $fontSizeHeading;
    font-weight: $fontWeightHeading;
    color: $colDarkGrey;
}

h4 {
    font-size: $fontSizeSubHeading;
    font-weight: $fontWeightHeading;
    color: $subHeadingColor;
}

strong {
    font-weight: $fontWeightBold;
}

p {
    font-size: $fontSizeText;
    font-weight: $fontWeightText;
    color: $colDarkGrey;
}

body {
    width: 100%;
    height: 100%;
    min-width: $size-width-screen-mobile;
    position: relative;
    min-height: 100vh;
}

.title {
    font-size: $fontSizeTitle;
    font-weight: 900;
    color: $headingColor;
    margin-bottom: 0px;
}

section {
    font-family: $fontFamily;
    max-width: $size-width-screen-desktop;
    min-width: $size-width-screen-mobile;
    min-height: $size-content-height-min;
    margin: 0 auto;
    padding-bottom: $size-footer-height;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: justify;
}

._404-container {
    font-family: $fontFamily;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: $fontSizeHeading;
    font-weight: 100;
    height: $size-content-height-min;
    padding-top: 80px;
    margin: 0 auto;
}

.profile-images {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    color: $textColor;
}

.page-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem auto;
}

.page-item img {
    width: 75%;
    border-radius: 50%;
}

.page-content {
    display: block;
    flex-direction: row;
    align-items: center;

    p {
        line-height: 24px;
        padding: 11px 0;
    }
}

.page-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $size-width-screen-desktop;
    min-width: $size-width-screen-mobile;
    min-height: $size-content-height-min;
}
