$colBlack: #262D31;
$colPink: #CB3558;
$colBlue: #8CD1D8;
$colClay: #A59898;
$colGray: #727379;
$colDarkGrey: #3B3B3B;
$colBlack2: #333333;
$colWhite: #FFF;

$primary: #6BF5D4;

/* Colors */
$backgroundColor: #FFF;
$headerColor: #3B3B3B;
$headerTextColor: #A59898;
$headerLineColor: $primary;
$footerColor: #3B3B3B;
$footerIconColor: #A59898;
$footerTextColor:#A59898;
$footerLineColor: $primary;
$textColor: #3B3B3B;
$headingColor: #3B3B3B;
$subHeadingColor: $primary;
$navTextColor: #3B3B3B;
$navSelectedColor: $primary;
$externalLogoColor: #3B3B3B;
/* End Colors */

/* Fonts*/
$fontFamily: 'Dosis';
$fontWeightTitle: 900;
$fontWeightHeading: 900;
$fontWeightBold: 700;
$fontWeightText: 400;
$fontSizeTitle: 1.75rem;
$fontSizeHeading: 1.25rem;
$fontSizeSubHeading: 1.1rem;
$fontSizeText: 1rem;
/* End Fonts */

/* Sizes */
$size-header-height: 120px;
$size-footer-height: 100px;
$size-width-screen-desktop: 1400px;
$size-width-screen-mobile: 375px;
$size-content-height-min: 620px;
$size-line-thickness: 3px;
/* End Sizes*/