<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width height=device-height, initial-scale=1" />
    <title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap" rel="stylesheet">
    <!-- End Fonts -->
    <!-- Swiper Functionality -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- End Swiper Functionality -->
    <!-- Bundled CSS -->
    {{ $bundleCSS := resources.Get "css/bundle.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $bundleCSS.RelPermalink }}" />
    <!-- End Bundled CSS -->
</head>